
/* Google fonts import */
<style>@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
</style>
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding:v0;
    margin:v0;
    box-sizing: border-box;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*header*/
header {
    background-color:#ffffff;
    padding:0 1rem;
    position: fixed;
    z-index: 99;
    width:100%;
    box-shadow:0 2px 2px #3a3a3a;
}

h1{
    font-family: 'Oswald', sans-serif;
    color:blue;
}
/*main content*/
main {background-color:lightblue;
    /* Make main element take up any surplus to push footer down*/
    flex: 1 0 auto;}

/* footer*/
footer {background-color:orange

}

